$base-accent: #ff5722;
$base-text-color: #000000de;
$base-bg: #ffffff;
$base-border-color: #e0e0e0;
$base-border-radius: 4px;


$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;